{
    "trailingComma": "none",
    "semi": true,
    "semicolon": true,
    "arrowParens": "always",
    "singleQuote": true,
    "endOfLine": "auto",
    "bracketSameLine": true,
    "bracketSpacing:": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
